@media(max-width: 150rem){
    html{
        font-size: 56.25%;
    }

    .about-section{
        min-height: auto;
        padding-block: clamp(6rem, 10vw, 6rem);
        /* margin-bottom: -10rem; */
    }

    .section-education{
        height: 100%;
    }
    
    .hero, .container{
       padding-block: clamp(2rem, 10vw, 2rem);
       height: calc(100vh-var(--nav-height));
       padding-bottom: 7.3rem;
    }

    h2, h3, h4, h5, h6{
    line-height: var(--line-height-normal);
    letter-spacing: 0;
    }

    .hero-profile, .profile{
        width: 350px;
        height: 350px;
    }

    .project-section{
        width: 70%;
    }
}

@media(max-width: 85rem){

    html{
        font-size: 43.75%;
    }

    .nav-bar, .about-me-para, .skills-lists, .footer{
        font-size: var(--text-base);
    }

    .hero, .container{
        min-height: auto;
        padding-block: clamp(0rem, 10vw, 0rem);
    }

    .hero-bg{
        width: 50%;
        height: 50%;
    }

    .profile, .hero-profile{
        width: 300px;
        height: 300px;
    }

    .hero-section {
        padding-bottom: 15rem;
    }

    .about{
        min-height: auto;
        padding-block: clamp(.5rem, 10vw, .5rem);
        padding-bottom: 5rem;
    }

    .get-in-touch {
        padding-bottom: 8rem;
    }

    .get-in-touch-content{
        gap: 5rem;
    }

    .contact-us-image{
        width: 250px;
    }

    .education-image{
        width: 150px;
        height: 150px;
    }

    .education{
        max-width: 1000px;
        width: 68%;
        margin: 0 auto;
    }

    .project-description p{
        font-size: 1.8rem;
    }

    .project-card:hover .project-hover {
        transform: translateY(0);
    }

    .project-card:hover .project-info {
    transform: translateY(-215px);
    }

    .project-hover{
        height: 240px;
    }
}

@media(max-width: 75rem){
    
    .project-card:hover .project-info {
    transform: translateY(-230px);
    }
}

@media(max-width: 65rem){

    html{
        font-size: 37.5%;
    }

    .nav-bar{
        height: 60px;
    }

    .hero-section{
        /* margin-bottom: -40rem; */
        gap: 5rem;
    }

    .about-section{
        /* margin-bottom: -40rem; */
        padding-block: clamp(3rem, 10vw, 3rem);
        padding-bottom: 5rem;
    }

    .about-content{
        gap: 1rem;
    }

    .socials-logo, .socials{
        width: 30px;
    }

    .socials-links{
        gap: 3rem;
    }

    .hero-profile, .profile{
        width: 250px;
        height: 250px;
    }

    .hero-profile{
        justify-self: center;
    }

    .skills-lists{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .uni, .shs{
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .education{
        width: 70%;
    }

    .section-education{
        min-height: auto;
        height: auto;
    }

    .get-in-touch{
        padding-block: clamp(6rem, 10vw, 6rem);
    }

    .get-in-touch-content{
        width: 50%;
        gap: 5rem;
        grid-template-columns: 45% 55%;
    }

    .get-in-touch-submission, form{
        max-width: 20rem;
    }

    .submit-message{
        max-width: 35rem;
        align-self: flex-start;
        display: block
}


    .section-education{
        margin-bottom: .3rem;
    }

    .education-image{
        width: 150px;
        height: 150px;
    }
    
    .skills-icons{
        width: 30px;
        height: 30px;
    }

    .contact-us-image{
        width: 170px;
        padding-left: 7rem;
    }

    .about{ 
        min-height: auto;
        height: auto;
    }

    .hero{
        min-height: auto;
        height: auto;
        padding-block: clamp(4rem, 10vw, 4rem);
        padding-bottom: 5rem;
    }

    .project-section{
        grid-template-columns: repeat(4, 1fr);
        /* gap: 5rem; */
        /* justify-content: center; */
        width: 70%;
    }

    .project-card{
        width: 95%;
        justify-self: center;
    }

    #kitchenware-flyer{
        display: none;
    }

    .footer{
        position: static;  
        width: 100%;
        /* margin-top: 20rem; */
        transform: none;
    }

    #name, #email, #message, #mobile{
        width: 150%;
        padding: 1rem;
    }

    .project-hover p{
        font-size: 1rem;
    }

    .buttons{
        gap: 1rem;
    }

    .buttons a{
        padding: 7px 10px;
    }
}

@media(max-width: 62rem){

    .project-info h3 {
        font-size: 2rem;
    }
}

@media(max-width: 57rem){
    .project-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .project-hover p {
        font-size: 2rem;
    }

    .project-hover{
        height: 270px;
    }

    .project-card:hover .project-info {
        transform: translateY(-260px);
    }
}

@media(max-width: 52rem){

    html{
        font-size: 28.125%;
    }

    .nav-bar{
        height: 50px;
    }

    .hero-profile, .profile{
        width: 200px;
        height: 200px;
    }

    .skills-container{
        width: 60%;
    }


    .skills-lists{
            grid-template-columns: 1fr 1fr;
        }

    .education-image{
            width: 100px;
            height: 100px;
    }
    
    .education{
        width: 65%;
    }

    .get-in-touch-content{
        width: 50%;
        grid-template-columns: 45% 55%;
    }
/* 
    .get-in-touch-submission form{
        max-width: 100rem;
    } */

    .contact-us-image{
        width: 120px;
        padding-left: 5rem;
    }

    .project-info h3{
        font-size: 3.7rem;
    }

    .project-hover p{
            font-size: 2.5rem;
        }
}

@media(max-width: 50rem){

    .project-card:hover .project-info{
        transform: translateY(-400px);
    }

    .project-hover{
        height: 400px;
    }

    .buttons a{
        padding: 10px 15px;
    }
}

@media(max-width: 44rem){
    .project-info h3{
        font-size: 3.5rem;
    }

    .project-hover p{
        font-size: 2rem;
    }
}

@media(max-width: 38rem){

    .hero{
        margin: 0 auto;
    }

    .hero-content{
        text-align: center;
        margin-bottom: 8rem;
    }

    .socials-links{
        justify-content: center;
    }

    .hero-section{
        display: block;
        margin: 0 auto;
    }

    .about-section{
        width: 60%;
        margin: 0 auto;
    }
    
    .about-content{
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .about-text{
        text-align: center;
    }

    .about-me-para{
        text-align: justify;
    }

    .profile{
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .uni, .shs{
        gap: 1rem;
        padding-bottom: 3rem;
    }

    .uni, .shs{
        flex-direction: column;
    }

    .uni-description, .shs-description{
        text-align: center;
    }

    .education-image{
        width: 65px;
        height: 65px;
    }

    .get-in-touch-content{
        display: block;
        padding-left: 3rem;
    }

    .contact-us-image{
       display: none;
    }

    #name, #email, #message, #mobile{
        width: 150%;
    }

    .footer-content{
        gap: 1.3rem;
    }

    .socials{
        width: 28px;
    }
}

@media(max-width: 37rem){

.nav-bar{
    margin-bottom: 5rem;
}

    .project-hover p{
        display: none;
    }

    .project-hover{
        height: 150px;
    }

    .project-info h3{
        font-size: 2.7rem;
    }

    .buttons{
        flex-direction: column;
    }

    .view, .code{
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 28rem){

    .get-in-touch-content{
        display: block;
    }

    .contact-us-image{
        display: none;
    }

     #name, #email, #message, #mobile{
        width: 170%;
    }
}

@media(max-width: 25rem){

    html{
        font-size: 21.875%;
    }

    .nav-toggle{
        display: block;
        font-size: 3rem;
        font-weight: 700;
        background: white;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .nav-links {
        position: fixed;
        inset: 0;
        color: var(--white);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem 0 0 5rem;
        gap: 5rem;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1000;
        background: var(--secondary-shade);
    }

    .nav-links.active {
        background: var(--secondary-shade);
        transform: translateX(25%);
        max-width: 80%;
        color: var(--white);
        font-size: var(--text-h4);
        font-weight: 700
    }

    .hero-profile, .profile{
        width: 130px;
        height: 130px;
    }

    .profile{
        margin-bottom: 7rem;
    }

    .socials-links{
        gap: 1rem;
    }

    .skills-container{
        width: 80%;
    }

    .education{
        width: 80%;
    }

    .uni, .shs{
        gap: 5rem;
        padding: 1rem;
        text-align: center;
    }

    #name, #email, #message, #mobile{
        width: 170%;
        padding: .8rem;
    }

    #message{
        margin-bottom: 3rem;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}

@media(max-width: 23rem){
    .project-info h3{
        font-size: 2.2rem;
    }
}
